@font-face {
    font-family: 'Summer Of Love';
    src: url('../assets/fonts/SummerOfLove.ttf') format('truetype');
}

:root {
    --accent: #f2c4cd;
    --accent-hover: #ccaeb4;
    --black: #000000;
    --white: #eee;
    --light: #bbb;
    --dark: #1f1f1f;
    --dark-hover: #2d2d2d;
    --really-dark: #0f0f0f;
}

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    padding: 0 !important;
}

h1, h2, h3 {
    font-family: "Summer Of Love", sans-serif;
}

.auto-margins {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: url('../assets/img/pattern.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100%;
}

#mobile-nav {
    padding-top: 14px;
    margin-bottom: 20px;
    height: 60px;
    background-color: var(--black);
    position: fixed;
    width: 100%;
    z-index: 99;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}


nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 60px;
    background-color: var(--black);
    padding-bottom: 70px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar-col {
    display: flex;
}

.navbar-col-for-logo {
    height: 60px;
}

.navbar-logo {
    height: 60px;
}

.navbar-link {
    font-size: 1.3em;
    color: var(--white);
    text-decoration: none !important;
    font-family: 'Luckiest Guy', 'Open Sans', sans-serif;
}

.navbar-link:hover {
    cursor: pointer;
    color: var(--accent);
}

.navbar-icon {
    color: var(--accent);
    font-size: 1.5em;
}

.navbar-icon:hover {
    cursor: pointer;
    color: var(--accent-hover);
}

.navbar-btn {
    background-color: var(--accent);
    color: var(--dark);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    text-decoration: none !important;
    font-family: 'Summer Of Love', 'Open Sans', sans-serif;
    font-size: 1.3em;
}

.navbar-btn:hover {
    background-color: var(--dark);
    color: var(--accent);
}

#header-down-arrow {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 3%;
}

#header-down-arrow i {
    font-size: 2.5em;
    color: var(--light);
}

#header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-header {
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 200px;
}

#header-header img {
    max-width: 55%;
    padding: 10px;
    border-radius: 15px;
}

#header-header-banner {
    display: none;
}

#header-header h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 6em;
    color: var(--white);
    margin-top: 8px;
    margin-bottom: 10px;
}

#header-mobile-bg {
    display: none;
}

.section {
    margin-top: 100px;
    min-height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: var(--black);
    text-align: center;
}

.section h2 {
    margin-top: 5px;
    color: var(--accent);
    font-size: 4.5em;
    padding: 5px;
    text-align: center;
    margin-bottom: 12px;
}

#about {
    padding-left: 10%;
    padding-right: 10%;
}

#about img {
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 25px;
}

#about p {
    text-align: left;
    padding: 20px;
    font-size: 1.2em;
    color: var(--white);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.shows-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.show-card {
    padding: 10px;
    background-color: var(--dark);
    border-radius: 15px;
    margin: 10px;
}

.show-card img {
    max-width: 90%;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.show-card h3 {
    color: var(--accent);
    padding: 5px;
    font-size: 2.4em;
}

.show-card h5 {
    color: var(--light);
    font-size: 1rem;
    font-family: 'Luckiest Guy', 'Open Sans', sans-serif;
}

.show-card p {
    color: var(--white);
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.show-card:hover {
    background-color: var(--dark-hover);
    cursor: pointer;
    border-bottom: 2px solid var(--accent);
}

.show-card h3:hover {
    color: var(--accent-hover);
}

#contact {
    min-height: 90vh;
}


#contact-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%;
}

.contact-btn {
    padding: 10px;
    background-color: var(--accent);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-btn i {
    font-size: 3em;
    color: var(--dark);
}

.contact-btn:hover {
    background-color: var(--dark);
}

.contact-btn:hover i {
    color: var(--accent);
}

footer {
    width: 100%;
    height: 60px;
    background-color: var(--really-dark);
    line-height: 60px;
    vertical-align: middle;
}

footer p {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    color: var(--light);
}

@media screen and (max-width: 1100px) {
    #header-header {
        margin-top: 600px;
    }

    #header-header img {
        max-width: 80%;
    }

    #header-header h1 {
        font-size: 7em;
    }

    .show-card h3 {
        font-size: 2em;
    }
}

@media screen and (max-width: 991px) {
   nav {
       display: none;
   }

    #mobile-nav {
        display: block;
    }

    #about {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about img {
        max-height: 330px;
    }

    #about p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .show-card h3 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 750px) {
    #header-header {
        display: none;
    }

    #header-mobile-bg {
        display: block;
    }

    #header-down-arrow {
        bottom: 5%;
    }

    #header-down-arrow i {
        font-size: 5em;
        color: var(--light);
    }

    #about img {
        max-height: 280px;
    }
}

@media screen and (max-width: 580px) {
    #about img {
        max-height: 220px;
    }
}

@media screen and (max-width: 480px) {
    #about img {
        max-height: 170px;
    }

    #about {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 390px) {
    #mobile-nav {
        padding: 20px;
    }

    #mobile-nav .navbar-link {
        font-size: 1em;
    }
}

@media screen and (max-width: 360px) {
    #about img {
        max-height: 120px;
    }
}